/* Base layout reset and centering for the page */
body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #2A7B9B;
    background: linear-gradient(155deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container styling for the budget manager app */
.container {
    width: 80vw;
    height: 80vh;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.mycard{
    background-color: white;
    width: 33%;
    height: 100%;
    border: solid gray;
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.form_item{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
}

.add_transaction_form{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.submit-btn{
    background-color: rgb(7, 87, 167);
    color: white;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: none;
    font-size: large;
    border-radius: 0.2rem;
}

.transaction_card{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 0.4rem;
    height: 1.5rem;
    align-items: center;
    border: solid rgb(187, 187, 187);
    border-width: 1px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}

.red{
    color: rgb(255, 95, 95);
}

.green{
    color: rgb(43, 211, 43);
}
