/* Base layout reset and centering for the page */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
}

/* Container styling for the budget manager app */
.container {
    width: 80vw;
    height: 80vh;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.mycard{
    background-color: white;
    width: 33%;
    height: 100%;
    border: solid gray;
    border-width: 1px;
    border-radius: 0.5rem;
}

.form_item{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
}